global_defs {
    script_security
}

vrrp_script chk_nfs {
    script "/etc/keepalived/chk_nfs.sh"
    interval  3
    weight -30
    fall   3
    rise   3
}

vrrp_instance VI_1 {
    state BACKUP
    {% if drbd_primary | bool %}
    #state MASTER
    priority {{ keepalived.master_priority }}
    interface {{ keepalived.master_interface }}
    nopreempt
    {% else %}
    priority {{ keepalived.backup_priority }}
    interface {{ keepalived.backup_interface }}
    {% endif %}
    virtual_router_id {{ keepalived.router_id }}
    advert_int {{ keepalived.advert_int }}
    authentication {
        auth_type PASS
        auth_pass {{ keepalived.auth_pass }}
    }
    {% if drbd_primary | bool %}
    virtual_ipaddress {
        {{ keepalived.vip }} dev {{ keepalived.master_interface }}
    }
    {% else %}
    virtual_ipaddress {
        {{ keepalived.vip }} dev {{ keepalived.backup_interface }}
    }
    {% endif %}

    track_script {
        chk_nfs
    }

    notify_master "/etc/keepalived/notify_master.sh"
    notify_backup "/etc/keepalived/notify_backup.sh"
    notify_fault  "/etc/keepalived/notify_fault.sh"
}
